<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete view</title>
</head>
<body>
    <form method="post"> 
        {% csrf_token %}
        <p>Are you sure</p>
        <input type="submit" value="submit" onclick="deletethis()">
    </form>
    <script>
        function deletethis() {
            alert("You have deleted this field");
        }
    </script>
</body>
</html>