{% extends '../base.html' %}
{% load static %}
{% block navbar %}
    {% include "../navbar.html" %}
{% endblock navbar %}

{% block content %}





<form method="POST">
    {% csrf_token %} 
    <div class="container h5" style="margin-top: 5rem;         background: url(/static/assets/images/cool-background4.png); background-size: cover; border-radius : 50px">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
          <div class="col-lg-13 col-xl-10">
            <div class="card text-black" style="border-radius: 50px; margin: 30px; background: rgba(135,177,219,0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(135,177,219,0.25);">
              <div class="card-body p-md-5">
                    <h3 class="modal-title text-center" id="exampleModalCenterTitle">Add Task</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText02" class="h5">Title<span style="color: red;">*</span></label>
                                <!-- <input type="text" class="form-control" id="exampleInputText02" placeholder="Enter project title" name="title"> -->
                                {{form.title}}
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="exampleInputText05" class="h5">Select Project<span style="color: red;">*</span> </label>
                                <!-- <input type="date" class="form-control" id="exampleInputText05" name="startdate"> -->
                                {{form.project}}
                            </div>                        
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="exampleInputText05" class="h5">Select Module<span style="color: red;">*</span></label>
                                <!-- <input type="date" class="form-control" id="exampleInputText05" name="completiondate"> -->
                                {{form.module}}
                            </div>                        
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="exampleInputText2" class="h5">Priority<span style="color: red;">*</span></label>
                                <!-- <input type="text" class="form-control" name="hours" placeholder="Enter Estimated Hours"> -->
                                {{form.priority}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label for="exampleInputText040" class="h5">Description<span style="color: red;">*</span></label>
                                <!-- <textarea class="form-control" id="exampleInputText040" rows="2" placeholder="Enter description" name="des"></textarea> -->
                                {{form.description}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText005" class="h5">Status<span style="color: red;">*</span>: </label>
                                <!-- <input type="text" class="form-control" placeholder="Add Technologies list" name="t"> -->
                                {{form.status}}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="exampleInputText005" class="h5">Total Minutes<span style="color: red;">*</span>: </label>
                                <!-- <input type="text" class="form-control" placeholder="Add Technologies list" name="t"> -->
                                {{form.totalMinutes}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-4">
                                <input type="submit" value="submit" class="btn btn-primary mr-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% comment %} </div>    {% endcomment %}
 </form>
</div>
</body>
</html>

 {% endblock content %}
 
 {% block footer %}
     {% include "footer.html" %}
 {% endblock footer %}
 
 
 